# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*.zip

# testing
/coverage

# production
/build
build*

# misc
.DS_Store



